body {
  margin: 0;
  padding: 0;
  background-color: #2c2d33 !important;
}

.container img {
    width: 100%;
}

.dark-bg {
    background-color: #2c2d33;
}

.bg-dark1 {
    background-color: #3a3c47;
}

.slider-container {
  position: relative;
}

.slider-container img {
    width: 100%;
}

.left-btn,
.right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000; /* Üstte kalması için */
  outline: none; /* Butona tıklanıldığında etrafındaki çerçeveyi kaldırır */
}

.left-btn::before,
.right-btn::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 3px solid white;
  border-right: 3px solid white;
}

.right-btn::before {
    float: right;
}

.left-btn {
  left: 10px; /* Sol kenara olan mesafe */
}

.left-btn::before {
  transform: rotate(-135deg);
}

.right-btn {
  right: 10px; /* Sağ kenara olan mesafe */
}

.right-btn::before {
  transform: rotate(45deg);
}
